.header {
  margin-top: 20px;
}

img.logo {
  display: inline-block;
}

.hero img, webp {
  width: 100%;
  max-height: 400px;
}

.header-text {
  text-align: right;
  font-family: 'Rajdhani', sans-serif;
}

img {
  max-width: 100%;
}

.project-desc {
  text-align: center;
}

#featured-title {
  color: grey;
  margin: 3% 0 2% 3%;
}

.project-image {
  max-height: 240px;
}
